spring:
  application:
    name: product-service

  data:
    mongodb:
      uri: mongodb://product_user:product_pass@localhost:27017/productdb?authSource=productdb


eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true
server:
  port: 9091