spring:
  application:
    name: product-service

  data:
    mongodb:
      uri: mongodb://product_user:product_pass@localhost:27017/productdb?authSource=productdb

server:
  port: 9091

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}
